*{
  padding : 0;
  margin : 0;
  font-family: 'Open Sans', sans-serif;
}
.header{
  height:80px;
  width: 100%;
  display: flex;
}
.left{
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.middle{
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.right{
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-button{
  padding: 10px 16px;
  color: black;
  font-size: 14px;
  background-color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
.login-button:hover{
  color: blue;
  box-shadow: 0 10px 10px rgba(10, 0, 0, 0.2);
}
.header-link {
color:white;
margin: 10px;
padding:10px;
cursor: pointer;
font-weight: bold;
font-size: 16px;
}
.header-link:hover{
 text-decoration: underline;
}
.first-slide{
  width: 100%;
  margin-top: -80px;
  height: 626px;
  background: #404eed;
  display: flex;
  background-image: url("images/clouds.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 51.2% 0%;
}
.left-part{
  z-index: 1;
  width: 689px;
  height: 352px;
  display: flex;
  position: absolute;
  top: 26.8%;
  left: -5.1%;
  padding: 20px;
}
.right-part{
  z-index: 1;
  width: 615px;
  height: 360px;
  display: flex;
  position: absolute;
  top: 26%;
  left: 67.8%;
  padding: 20px;
}
.middle-part{
  z-index: 2;
  width: 780px;
  height: 190.69px;
  display: flex;
  position: absolute;
  top: 16%;
  left: 26%;
  padding: 20px;
  text-align: center;
}
.center-h1{
  color: white;
  font-size: 56px;
  font-family: "ABC Ginto Nord","Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}
.center-p{
  color: white;
  font-size: 20px;
  font-family: "ABC Ginto Nord","Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.windows-button{
  padding: 16px 32px;
  margin: 24px 24px 0px 0px;
  color: black;
  font-size: 18px;
  font-weight: bold;
  background-color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
.windows-button:hover{
  color: blue;
  box-shadow: 0 10px 10px rgba(10, 0, 0, 0.2);
}
.downloadsymbol{
  margin: 0px 8px;
  width: 18px;
  height: 20px;
}
.browser-button{
  padding: 16px 32px;
  margin: 24px 0px 0px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  background-color: black;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
.browser-button:hover{
  background-color: #23272a;
  box-shadow: 0 10px 10px rgba(10, 0, 0, 0.2);
}
.second-slide{
  width: 100%;
  height: 887.25px;
  display: flex;
  background: white;
}
.chat-image{
  width: 678px;
  height: 440px;
  display: flex;
  position: absolute;
  top: 87%;
  left: 18%;
}
.chat-text-bold{
  width: 379.34px;
  height: 647.25px;
  display: flex;
  position: absolute;
  top: 70%;
  left: 53%;
}
.second-slide-bold{
  color: black;
  font-size: 45px;
  font-weight: bold;
}
.chat-text-simple{
  width: 379.34px;
  height: 162.5px;
  display: flex;
  position: absolute;
  top: 128%;
  left: 57.3%;
}
.second-slide-simple{
  color: black;
  font-size: 20px;
}
.third-slide{
  width: 100%;
  height: 680px;
  display: flex;
  background: #f6f6f6;
}
.voice-image{
  width: 378px;
  height: 440px;
  display: flex;
  position: absolute;
  top: 175%;
  left: 45%;
}
.voice-text-bold{
  width: 380px;
  height: 115.19px;
  display: flex;
  position: absolute;
  top: 173%;
  left: 11%;
}
.third-slide-bold{
  color: black;
  font-size: 45px;
  font-weight: bold;
}
.voice-text-simple{
  width: 380px;
  height: 162.5px;
  display: flex;
  position: absolute;
  top: 192%;
  left: 15.7%;
}
.third-slide-simple{
  color: black;
  font-size: 20px;
}
.forth-slide{
  width: 100%;
  height: 680px;
  display: flex;
  background: white;
}
.fan-image{
  width: 678px;
  height: 440px;
  display: flex;
  position: absolute;
  top: 245%;
  left: 18%;
}
.fan-text-bold{
  width: 379.34px;
  height: 647.25px;
  display: flex;
  position: absolute;
  top: 238%;
  left: 52%;
}
.forth-slide-bold{
  color: black;
  font-size: 45px;
  font-weight: bold;
}
.fan-text-simple{
  width: 379.34px;
  height: 162.5px;
  display: flex;
  position: absolute;
  top: 270%;
  left: 57.3%;
}
.forth-slide-simple{
  color: black;
  font-size: 20px;
}
.fifth-slide{
  width: 100%;
  height: 1096.55px;
  display: flex;
  background: #f6f6f6;
}
.fifth-slide-image{
  width: fit-content;
  height: fit-content;
  display: flex;
  position: absolute;
  top: 340%;
  left: 20%;
}
.fifth-slide-bold{
  color: black;
  font-size: 40px;
  font-weight: bold;
}
.just-chillin-header{
  align-items: center;
  vertical-align: middle;
  width: 980px;
  height: 76px;
  display: flex;
  position: absolute;
  top: 315%;
  left: 27%;
}
.fifth-slide-simple{
  color: black;
  font-size: 20px;
}
.just-chillin-text{
  align-items: center;
  vertical-align: middle;
  width: 980px;
  height: 65px;
  display: flex;
  position: absolute;
  top: 326%;
  left: 20%;
}