*{
  padding : 0;
  margin : 0;
  font-family: 'Open Sans', sans-serif;
  /* max-width: 1920px; */
}

.header-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.header{
  height:80px;
  /* width: 2560px; */
  max-width: 1260px;
  margin: 0 auto;
  display: flex;
  @media (max-width: 1280px) {
      /* width: 1280px; */
  }
}

.left{
  width: 955px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.middle{
  width: 650px;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.right{
  width: 955px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-button{
  padding: 10px 16px;
  color: black;
  font-size: 14px;
  background-color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.login-button:hover{
  color: blue;
  box-shadow: 0 10px 10px rgba(10, 0, 0, 0.2);
}

.header-link {
  color:white;
  margin: 10px;
  padding:10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
}

.header-link:hover{
 text-decoration: underline;
}

.first-slide{
  position: relative;
  width: 100%;
  /* margin-top: -80px; */
  /* height: 626px; */
  background: #404eed;
  display: flex;
  background-image: url("images/clouds.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0%;
}
.left-part{
  /* width: 28%; */
  /* height: 100%; */
  /* display: flex; */
  /* align-items: end;
  justify-content: flex-end;
  overflow: hidden; */

  @media (max-width: 1024px) {
    display: none;
  }

  > img {
    position: absolute;
    bottom: 0;
    /* right: 70%; */
  }
}
.right-part{
  /* width: 28%; */
  /* height: 100%; */
  /* display: flex; */
  /* align-items: end;
  justify-content: flex-start;
  overflow: hidden; */
  > img {
    position: absolute;
    bottom: 0;
    /* left: 70%; */
  }
}
.middle-part{
  width: 780px;
  min-width: 626px;
  height: 100%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 120px 40px;
  @media (max-width: 1024px) {
    align-items: start;
    min-width: 60%;
    width: 60%;
    padding: 80px 40px;
  }
}
.center-h1{
  color: white;
  font-size: 56px;
  font-family: "ABC Ginto Nord","Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}
.center-p{
  color: white;
  font-size: 20px;
  font-family: "ABC Ginto Nord","Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1.625;
  margin-top: 40px;
}
.windows-button{
  padding: 16px 32px;
  margin: 24px 24px 0px 0px;
  color: black;
  font-size: 18px;
  font-weight: bold;
  background-color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
.windows-button:hover{
  color: blue;
  box-shadow: 0 10px 10px rgba(10, 0, 0, 0.2);
}
.downloadsymbol{
  margin: 0px 8px;
  width: 18px;
  height: 20px;
}
.browser-button{
  padding: 16px 32px;
  margin: 24px 0px 0px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  background-color: black;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
.browser-button:hover{
  background-color: #23272a;
  box-shadow: 0 10px 10px rgba(10, 0, 0, 0.2);
}
.second-slide{
  width: 100%;
  height: 887.25px;
  display: flex;
  background: white;
}
.chat-image{
  width: 678px;
  height: 440px;
  display: flex;
  position: absolute;
  top: 87%;
  left: 18%;
}
.chat-text-bold{
  width: 379.34px;
  height: 647.25px;
  display: flex;
  position: absolute;
  top: 70%;
  left: 53%;
}
.second-slide-bold{
  color: black;
  font-size: 45px;
  font-weight: bold;
}
.chat-text-simple{
  width: 379.34px;
  height: 162.5px;
  display: flex;
  position: absolute;
  top: 128%;
  left: 57.3%;
}
.second-slide-simple{
  color: black;
  font-size: 20px;
}
.third-slide{
  width: 100%;
  height: 680px;
  display: flex;
  background: #f6f6f6;
}
.voice-image{
  width: 378px;
  height: 440px;
  display: flex;
  position: absolute;
  top: 175%;
  left: 45%;
}
.voice-text-bold{
  width: 380px;
  height: 115.19px;
  display: flex;
  position: absolute;
  top: 173%;
  left: 11%;
}
.third-slide-bold{
  color: black;
  font-size: 45px;
  font-weight: bold;
}
.voice-text-simple{
  width: 380px;
  height: 162.5px;
  display: flex;
  position: absolute;
  top: 192%;
  left: 15.7%;
}
.third-slide-simple{
  color: black;
  font-size: 20px;
}
.forth-slide{
  width: 100%;
  height: 680px;
  display: flex;
  background: white;
}
.fan-image{
  width: 678px;
  height: 440px;
  display: flex;
  position: absolute;
  top: 245%;
  left: 18%;
}
.fan-text-bold{
  width: 379.34px;
  height: 647.25px;
  display: flex;
  position: absolute;
  top: 238%;
  left: 52%;
}
.forth-slide-bold{
  color: black;
  font-size: 45px;
  font-weight: bold;
}
.fan-text-simple{
  width: 379.34px;
  height: 162.5px;
  display: flex;
  position: absolute;
  top: 270%;
  left: 57.3%;
}
.forth-slide-simple{
  color: black;
  font-size: 20px;
}
.fifth-slide{
  width: 100%;
  height: 1096.55px;
  display: flex;
  background: #f6f6f6;
}
.fifth-slide-image{
  width: fit-content;
  height: fit-content;
  display: flex;
  position: absolute;
  top: 340%;
  left: 20%;
}
.fifth-slide-bold{
  color: black;
  font-size: 40px;
  font-weight: bold;
}
.just-chillin-header{
  align-items: center;
  vertical-align: middle;
  width: 980px;
  height: 76px;
  display: flex;
  position: absolute;
  top: 315%;
  left: 27%;
}
.fifth-slide-simple{
  color: black;
  font-size: 20px;
}
.just-chillin-text{
  align-items: center;
  vertical-align: middle;
  width: 980px;
  height: 65px;
  display: flex;
  position: absolute;
  top: 326%;
  left: 20%;
}
.sparkling-part{
  width: 100%;
  height: 284.39px;
  display: flex;
  background: #f6f6f6;
}
.sparkling-image{
  width: 531px;
  height: 49px;
  left: 35%;
  display: flex;
  position: absolute;
}
.sparkling-text{
  z-index: 1;
  width: 513.16px;
  height: 38.39px;
  display: flex;
  position: absolute;
  left: 35.5%;
}
.sparkling-text-style{
  font-size: 28px;
  font-weight: bold;
  color: black;
  white-space: nowrap;
  margin: 30px 0px 0px;
}
.sparkling-button{
  justify-content: center;
  display: flex;
  position: absolute;
  top: 165%;
  left: 17%;
}
.sparkling-button-style{
  padding: 16px 32px;
  margin: 24px 24px 0px 0px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  background-color: #5865f2;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  justify-content: center;
  display: flex;
  width: 331.5px;
  height: 56px;
}
.sparkling-button-style:hover{
  background:  #7289da;
  box-shadow: 0 10px 10px rgba(10, 0, 0, 0.2);
}
.sparkling-downloadsymbol{
  width: 18px;
  height: 20px;
  filter: grayscale(100%) brightness(0) invert(100%);
}
.sparkling-downloadsymbol-position{
  display: flex;
  white-space: nowrap;
}

/* footer block */
.footer{
  width: 100%;
  height: 611px;
  display: flex;
  flex-direction: column;
  background: #23272a;
  justify-content: center;
  padding: 80px;
}
.navigation{
  width: 1269px;
  height: 396px;
  display: flex;
  padding: 0px 40px;
  align-items: stretch;
  justify-content: center;
  align-content: center;
  position: absolute;
  top: 460%;
  left: 14%;
}
.first-container{
  width: 280px;
  height: 340px;
  margin: 0px 0px 56px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.language-selector{
  margin: 24px 0px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 280px;
  height: 18px;
}
select {
  padding: 8px;
  font-size: 14px;
  width: 133px;
  height: 34px;
  background: transparent;
  border: transparent;
  color: white;
}
.social{
  width: 280px;
  height: 24px;
  margin: 24px 0px 0px;
  display: flex;
  justify-content: space-between;
}
.white-colored{
  filter: grayscale(100%) brightness(0) invert(100%);
}
.spacer{
  width: 80px;
  height: 396px;
}
.container{
  width: 180px;
  height: 356px;
  margin: 0px 0px 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.container-header{
  width: 180px;
  height: 24px;
  font-size: 14px;
  margin: 0px 0px 20px;
  color: #5865f2;
}
.container-text{
  width: 180px;
  height: 24px;
  margin: 8px 0px 0px;
  font-size: 14px;
  color: white;
  cursor: pointer;
}
.container-text:hover{
  text-decoration: underline;
}
.separator{
  width: 1058px;
  height: 1px;
  background: #5865f2;
  margin: 0px 0px 32px;
  display: flex;
  position: absolute;
  top: 502%;
  left: 21.5%;
}
.bottom{
  width: 1061px;
  height: 71px;
  display: flex;
  position: absolute;
  top: 502%;
  left: 21.5%;
  justify-content: space-between;
  align-items: flex-end;
}
.white-discord-logo{
  filter: grayscale(100%) brightness(0) invert(100%);
  cursor: pointer;
}
.bottom-button-style{
  padding: 7px 16px;
  color: white;
  font-size: 14px;
  background-color: #5865f2;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 138.31px;
  height: 38px;
}
.bottom-button-style:hover{
  background:  #7289da;
  box-shadow: 0 10px 10px rgba(10, 0, 0, 0.2);
}